#section_hero{
  width: 100%;
  height: 600px;
  overflow: hidden;
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: 30% center;
  }
  @media screen and (min-width:992px) {
    height: 100vh;
  }
}
